priority -50
extends texmath
global !p

def jpt_func():
	pass

endglobal


priority 0

# General latex stuffs
#==================================================

snippet template " Comment" iA
---
title: ${1:Title}
author: ${2:Prakash}
date: ${3:`date +%Y-%m-%d`}
tags: [${4:physics}]
category: ${5:physics}
description: ${6:A stub article}
---
$0
endsnippet

snippet yhead "Basic template" bA
---
author : Prakash Gautam
date   : `date +%Y-%m-%d` `date +%H:%M:%S`
title  : ${1:Some fancy title}
---
$0
endsnippet


snippet // "Comments " bA
[//]: # (${0:Comment here})
endsnippet

pre_expand "create_matrix(snip)"
snippet "([pvb])matrix(\d+)x(\d+)" "Generate a matrix " r
endsnippet




snippet alins " align asterisk " bA

$$
\begin{align*}
	$1
\end{align*}
$$
$0
endsnippet


snippet cases "cases from ams math" b
\begin{cases}
	$1	& \text{ if } ${2: x \leq 0} \\\\
	$3	& \text{ if } ${4: \text{otherwise}}
\end{cases}
endsnippet

snippet "([0-9.]+)e(-?)([0-9]+) " "Scientific notation text"
`!p
base = match.group(1)
sign = match.group(2)
index = match.group(3)
snip.rv = r'$'+base+r'\times 10^{'+sign+index+r'}$'` 
endsnippet

priority -1000

snippet ( "parenthesis ste " iA
($1)
endsnippet

snippet { "parenthesis ste " iA
{$1}
endsnippet

snippet [ "parenthesis ste " iA
[$1]
endsnippet

snippet " "double quote "
"$1"
endsnippet

priority 0



snippet "sup" "Superscript "
<sup>$1</sup>
endsnippet


snippet "^^" "Superscript "
<sup>$1</sup>
endsnippet

snippet  "bold"
**$1**
endsnippet

snippet ";(\w+) " "Quick inline math"
$`!p snip.rv=match.group(1)`$ 
endsnippet


snippet ;; "Quick inline math"
$$1$ 
endsnippet


snippet mm "Inline math mode"
$$1$ 
endsnippet

snippet uu "Inline math mode"
&ouml;
endsnippet

snippet "[sS]chrodinger"  "Comment" wrA
Schr&ouml;dinger
endsnippet

snippet plink "Link to a post" wiA
[${1:this post}]({% post_url  ${2:2019-06-21-post-name-without-markdown-extension}  %}).
endsnippet


snippet tdl "Checklist" iA
	- [ ] ${1:Todo Item here }
endsnippet


# vim:ft=snippets:

